@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.logos {
  overflow: hidden;
  white-space: nowrap;
}

.logos-slide {
  display: inline-block;
  animation: logos-scroll 15s infinite linear;
}

.logos-slide svg {
  height: 50px;
  margin: 0 40px;
  display: inline-block;
  /* border: 1px solid #ccc; */
}

.blinking {
  animation: blinking 5s infinite;
}

@keyframes blinking {
  0% {
    background-color: #fca311;
    color: #fff;
    border-color: #121212;
  }
  50% {
    background-color: #121212;
    color: #fca311;
    border-color: #fca311;
  }
  100% {
    background-color: #fca311;
    color: #fff;
    border-color: #121212;
  }
}

.blinking:hover {
  animation: none;
  background-color: #fca311;
  color: aliceblue;
  border: #fca311 2px;
  /* scale: 1.1; */

}

@keyframes logos-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
