@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
:root{
  height: 100%;
}

.logos{
  overflow: hidden; 
  white-space: nowrap;
}

.logos-slide {
  display: inline-block;
  animation: logos-scroll 15s  infinite linear;
}

.logos-slide svg {
  height: 50px;
  margin: 0 40px;
  display: inline-block;
  /* border: 1px solid #ccc; */
}

@keyframes logos-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
